.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos da Navbar */
.navbar {
  background-color: #333;
  padding: 10px;
}

.navList {
  display: flex;
  justify-content: left;
  list-style: none;
  /* margin: 0;
  padding: 0; */
  position: relative;
}

.navFooter {
  display: flex;
  justify-content: center;
  list-style: none;
  /* margin: 0;
  padding: 0; */
  position: relative;
}

.navItem {
  margin: 0 15px;
  cursor: pointer;
  color: #fff;
}

.navItem:hover {
  text-decoration: underline;
}

/* Estilos do conteúdo */
.content {
  margin-top: 20px;
}

/* Estilos para o rodapé */
.footer {
  background-color: #333;
  color: rgba(255, 255, 255, 0.6); /* Deixa as letras mais apagadas */
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  font-size: 14px; /* Tamanho de fonte menor para dar aspecto mais discreto */
  position: fixed
}